.productcard-grid{
    display: flex;
}
.event-div{
    display:flex;
    justify-content: center;

}
.footer-div{
    text-align: center;
}
.header-color{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.event-card{
    margin: 20px;
    border: solid 1px black;
}